$font-family: Helvetica, Arial, sans-serif;

$font-light-color: #f4f4f4;
$font-dark-color: #4f4f4f;
$font-error-color: rgb(255, 0, 0);

$img-background-color: rgb(47, 120, 14);
$valid-color: rgba(47, 120, 14, .4);
$unvalid-color: rgba(255, 0, 0, .4);

